section {
  padding: 40px;
}
section img {
  height: 50%;
  width: 100%;
}

section article {
  padding: 20px;
  height: 450px;
  border: solid;
  border-radius: 10px;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  flex-direction: column;
}

section article > p {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}

article button {
  width: 80%;
  height: 10%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

article button:hover {
  background-color: navy;
  color: white;
}
